:root {
    --side-bar-width: 200px;
    --search-header-height: 150px;
}

body {
    margin: 0;
    display: flex;
    overflow-x: hidden;
    background-color: #e6e6e6;
}

.sidebar {
    background-color: #53b5ff;
    margin-top: 0;
    height: 100vh;
    width: var(--side-bar-width);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.search-header,
.main-content {
    margin-left: var(--side-bar-width);
}

.search-header {
    height: var(--search-header-height);
    width: calc(100vw - var(--side-bar-width));
    background-color: #FFFFFF;
    margin-bottom: 0;
    box-shadow: 0 5px 5px -3px #909090;
}

.search-box input {
    border-radius: 20px;
    height: 30px;
    width: 50%;
    margin: 25px 0 0 40px;
    padding-left: 15px;
}

.main-content {
    flex-direction: column;
    margin-top: 10px;
    height: calc(100vh - var(--search-header-height));
    border: none;
    padding: 15px 15px 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px repeat(6, 90px);
    column-gap: 15px;
    row-gap: 15px;
    grid-auto-flow: column;
}

#project-label {
    grid-column: span 2;

}

#trending-label {
    margin-top: 75px;
}

.container {
    height: auto;
    width: auto;
    border-left: solid #f29419 5px;
    grid-row: span 2;

}

.container,
.side-container {
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 2px 5px 5px -4px #7b7b7b;
}

#announcements.side-container {
    grid-row-start: 2;
    grid-row-end: span 3;
}

#trending.side-container {
    grid-row-start: 4;
    grid-row: span 2;
}